<%- include('../header') %>
<a href="/categorias/nova" class="btn btn-success"> Nova categoria </a><br/>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Categorias</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
  <% categorias.forEach (categoria =>  { %>

    <tr>
      <th scope="row"><%=  categoria.categoria %>  </th>
      <td>
      <a class="btn btn-danger" href="/categorias/excluir/<%= categoria.id %>"> Excluir <a>
      <a class="btn btn-info" href="/categorias/editar/<%= categoria.id %>"> Editar <a>
      </td>
    </tr>
    <% } ) %>
  </tbody>
</table>


<%- include('../footer') %>